{% load static %}
{% load client_lib_tags %}
{% load client_version %}
{% load i18n %}
{% load socialaccount %}
<!DOCTYPE html>
<html>

<head>
    {% include './snippets/head.html' %}
    {% include './snippets/loader_style.html' %}

    {% block custom_theme %}
    {% include './snippets/custom_theme.html' %}
    {% endblock %}

    {% block extra_style %}
    {% endblock %}

    {% block extra_head %}
    {% endblock %}

</head>

<body class="msgapi ms2" data-ms2-container="ms2">

    {% comment %} Modal Login {% endcomment %}
    {% if not user.is_authenticated %}
        <div class="modal fade" id="SigninModal" tabindex="-1" aria-labelledby="SigninModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                <h5 class="modal-title" id="SigninModalLabel">{% trans "Sign in" %}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="{% trans 'Close' %}"></button>
                </div>
                <form class="form-signin" action="{% url 'account_login' %}?next={{ request.path }}" method="post">
                <div class="modal-body">
                    {% csrf_token %}
                    {% get_providers as socialaccount_providers %}
                    {% if socialaccount_providers %}
                    {% include "socialaccount/snippets/provider_list.html" with process="login" %}
                    {% include "socialaccount/snippets/login_extra.html" %}
                    <hr>
                    {% endif %}
                    <div class="mb-3">
                    <label for="id_username" class="form-label">{% trans "Username" %}</label>
                    <input id="id_username" class="form-control" name="login" type="text" placeholder="{% trans 'Username' %}">
                    </div>
                    <div class="mb-3">
                    <label for="id_password" class="form-label">{% trans "Password" %}</label>
                    <input id="id_password" class="form-control" name="password" type="password" autocomplete="off" placeholder="{% trans 'Password' %}">
                    </div>
                    <div class="form-check mb-2">
                    <input class="form-check-input" type="checkbox" id="rememberMe">
                    <label class="form-check-label" for="rememberMe">
                        {% trans "Remember Me" %}
                    </label>
                    </div>
                    <p>
                    <a href="{% url 'account_reset_password' %}">
                        {% trans "Forgot Password?" %}
                    </a>
                    </p>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary w-100">{% trans "Sign in" %}</button>
                </div>
                </form>
            </div>
            </div>
        </div>
    {% endif %}
    {% comment %} MAPSTORE {% endcomment %}
    <div class="gn-page-wrapper {% if request.user_agent.is_mobile %}gn-mobile{% else %}gn-desktop{% endif %}">
        {% block gn_config %}
        {% include './_geonode_config.html' %}
        {% endblock %}
        <div class="gn-catalogue gn-theme">
            {% block header %}
            {% include './snippets/header.html' %}
            {% endblock %}

            {% block container %}
            <div id="ms-container">
                <div class="gn-main-event-container">
                    <div class="gn-main-event-content">
                        <div class="gn-main-loader"></div>
                        <div class="gn-main-event-text"></div>
                    </div>
                </div>
            </div>
            {% endblock %}

            {% block ms_scripts %}
            <script id="gn-script" src="{% static 'mapstore/dist/js/gn-catalogue.js' %}?{% client_version %}"></script>
            {% endblock %}

            {% block footer %}
            <!-- {% include './snippets/footer.html' %} -->
            {% endblock %}

{% block scripts %}
<script src="{% static 'lib/js/jquery.min.js' %}"></script>
<script src="{% static 'lib/js/bootstrap.min.js' %}"></script>
<script type="text/javascript">
    // habilita dropdown do Bootstrap 3
    $('.dropdown-toggle').dropdown();
</script>

            {% endblock %}
        </div>
    </div>
</body>

</html>