.gn-create-dataset {
    overflow: auto;
    
    .gn-create-dataset-container {
        max-width: 1440px;
        margin: auto;
        width: 100%;

        .gn-attributes-warnings {
            .alert {
                margin-bottom: 8px;
            }
        }
        .gn-attributes-header {
            justify-content: space-between;
            align-items: center;
        }

        .gn-attribute-button {
            display: flex;
            align-items: center;
            gap: 8px;
        }
    }
    .gn-dataset-attribute {
        .gn-attribute-name {
            width: 300px;
        }
        .gn-attribute-type {
            width: 120px;
        }
        .gn-attribute-nillable {
            width: 80px;
            text-align: center;
        }
        .gn-attribute-restrictions {
            width: 120px;
        }
        .gn-attribute-tools {
            width: 40px;
        }
    }
}
