{% load i18n %}

<li>
    <a id="all-resources" href="/all" target="" class="nav-link btn btn-default">
        {% trans "All resources" %}
    </a>
</li>
<li>
    <a id="datasets" href="/datasets" target="" class="nav-link btn btn-default">
        {% trans "Datasets" %}
    </a>
</li>

<li>
    <a id="documents" href="/documents" target="" class="nav-link btn btn-default">
        {% trans "Documents" %}
    </a>
</li>
<li>
    <a id="maps" href="/maps" target="" class="nav-link btn btn-default">
        {% trans "Maps" %}
    </a>
</li>
<li>
    <a id="geostories" href="/geostories" target="" class="nav-link btn btn-default">
        {% trans "GeoStories" %}
    </a>
</li>
<li>
    <a id="dashboards" href="/dashboards" target="" class="nav-link btn btn-default">
        {% trans "Dashboards" %}
    </a>
</li> 
