<footer class="footer font-inter bg-dark text-white py-5" role="contentinfo">
    <div class="container pb-5">
        <div class="row gy-4 text-start text-md-start">
            <div class="col-6 col-md-6 col-lg-3">
                <h3 class="fs-5 fw-bold mb-3 text-light">ZALF Repository</h3>
                <p class="mb-0 fs-7 text-gray-3">
                    Discover, visualize, and share high-quality datasets powering open science, policy, and innovation.
                </p>
            </div>

            
            <nav class="col-6 col-md-6 col-lg-3" aria-label="Quick Links">
                <h3 class="fs-5 fw-bold mb-3 text-light">Quick Links</h3>
                <ul class="list-unstyled fs-6 fw-normal m-0">
                    <li class="mb-2">
                        <a href="#explore" class="link-light text-decoration-none">About</a>
                    </li>
                    <li class="mb-2">
                        <a href="/upload" class="link-light text-decoration-none">Upload</a>
                    </li>
                    <li class="mb-2">
                        <a href="#" class="link-light text-decoration-none">OGC Services and API</a>
                    </li>
                    <li class="mb-2">
                        <a href="#" class="link-light text-decoration-none">Research Data Management</a>
                    </li>
                </ul>
            </nav>

            
            <nav class="col-6 col-md-6 col-lg-3" aria-label="Resources">
                <h3 class="fs-5 fw-bold mb-3 text-light">Resources</h3>
                <ul class="list-unstyled fs-6 fw-normal m-0">
                    <li class="mb-2">
                        <a href="#" class="link-light">Publications</a>
                    </li>
                    <li class="mb-2">
                        <a href="#" class="link-light">Data Policy</a>
                    </li>
                    <li class="mb-2">
                        <a href="#" class="link-light">How to Cite Us</a>
                    </li>
                    <li class="mb-2">
                        <a href="#" class="link-light">Imprint</a>
                    </li>
                    <li class="mb-2">
                        <a href="#" class="link-light">Privacy</a>
                    </li>
                </ul>
            </nav>

            
            <div class="col-6 col-md-6 col-lg-3" aria-label="Certified">
                <h3 class="fs-5 fw-bold mb-3 text-light">Certified By</h3>
                <div class="text-start text-md-start mb-2">
                    <img src="/static/img/logo_core_trust_seal_white.png" alt="Core Trust Seal" class="img-fluid mx-auto mx-md-0" style="max-height: 50px;" />
                </div>
                <div class="text-start text-md-start mb-2">
                    <h4 class="fw-semibold mb-2 fs-7 text-light">Powered by</h4>
                    <img src="/static/img/logo_zalf_white.png" alt="ZALF" class="img-fluid mx-auto mx-md-0" style="max-height: 50px;" />
                </div>
            </div>
        </div>
    </div>
    <div class="fs-6 border-top border-gray mt-5 pt-4 text-center text-gray-3">
        ZALF Repository
    </div>
</footer>
