<div class="gn-metadata-view">
    <div class="gn-metadata">
        <div class="gn-metadata-container">
            <div class="gn-metadata-layout">
                <div class="gn-metadata-groups">
                    <div id="gn-metadata-title" class="gn-metadata-title">Metadata: {{resource.title}}</div>
                    {% for group_key, metadata in metadata_groups.items %}
                    <div class="gn-metadata-group gn-metadata-group-view">
                        <div class="gn-metadata-group-title">{{group_key}}</div>
                        {% include 'geonode-mapstore-client/snippets/metadata_fields.html' with metadata=metadata prefix='metadata' %}
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
