{% extends "geonode-mapstore-client/resource_page_catalog.html" %} 
{% load i18n %}
{% block content %}
    <div class="gn-resource-page-catalog-section">
        <div class="gn-resource-page-catalog-content">
            <h4>{% trans "All Resources" %}</h4>
        </div>
    </div>
    <div id="resources-all" class="ms-plugin ResourcesGrid"></div>
{% endblock content %}

{% block ms_plugins %}
    msPluginsBlocks = [
        {
            "name": "ResourcesGrid",
            "cfg": {
                "id": "catalog",
                "title": "All Resources",
                "targetSelector": "#resources-all"
            }
        },
        {
            "name": "ResourcesFiltersForm"
        }
    ];
{% endblock ms_plugins %}